svg {
    border: 1px solid lightgrey;
    width: 100%;
    shape-rendering: crispEdges;
}

.event {
    fill: #82DBF9;
}

.event:hover {
    fill: #F69CDB;
}

.crosshair line,
.axis path,
.axis line {
    stroke: #8192A1;
}

.axis text {
    fill: #8192A1;
}

.event.selected {
    fill: #F69CDB;
}

.tooltip {
  position: absolute;
  color: white;
  background: rgba(129,146,161, 0.8);
  padding: 8px;
  width: 120px;
  font-family: Helvetica;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
}
